<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2" />
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <!-- 为某个类起别名-->
        <!-- <typeAlias type="models.Star" alias="star" />-->
        <!-- 批量起别名，类名为小写驼峰，可搭配Alias共用 name为包名-->
        <package name="models"/>
    </typeAliases>
    <plugins>
        <!--<plugin interceptor="plugins.MyPlugin1">-->
        <!--    <property name="usernamee" value="root"/>-->
        <!--    <property name="password" value="root"/>-->
        <!--</plugin>-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">

        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql" />
        <property name="Oracle" value="oracle" />
    </databaseIdProvider>
    <mappers>
        <!--<mapper resource="StarMapper.xml"/>-->
        <!--<mapper class="mappers.StarMapperAnnotation"/>-->
        <package name="mappers"/>
    </mappers>
</configuration>